<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nykj.wxisalipaygw.model.ChannelSceneMapper">

    <!-- 查询渠道场景二维码映射表 -->
    <select id="isExistsChannelScene" parameterType="com.nykj.wxisalipaygw.entity.ChannelScene" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM weixin_channel_scene
        WHERE unit_id=#{unit_id} AND channel_id=#{channel_id} AND scene_code=#{scene_code}
    </select>

</mapper>