<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nykj.wxisalipaygw.model.ChannelStatisticsMapper">

    <!-- 存储渠道统计信息(关注、扫码) -->
    <insert id="insertChannelStatistics" parameterType="com.nykj.wxisalipaygw.entity.ChannelStatistics" >
        INSERT INTO weixin_channel_count ( id ,fromUserName,event,createTime,toUserName,msgType,channel_id,scene_id,create_time)
        VALUES(#{id}, #{fromUserName}, #{event}, #{createTime}, #{toUserName}, #{msgType}, #{scene_id}, #{create_time});
    </insert>

</mapper>