<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nykj.wxisalipaygw.dao.alipay.UnitLinkMapper">

    <!-- 获取医院服务窗配置信息 -->
    <select id="findUnitLinkByUnitId" resultType="com.nykj.wxisalipaygw.entity.alipay.UnitLink" parameterType="java.lang.String">
        SELECT
            unit_id,
            app_id,
            app_name,
            app_secret,
            srv_token,
            srv_aeskey
        FROM
          weixin_hosp_link
        WHERE
          unit_id = #{unit_id, jdbcType=VARCHAR}
          limit 1
    </select>

</mapper>