<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nykj.wxisalipaygw.dao.alipay.UserQuestionMapper">

    <resultMap id="UserQuestionMap" type="com.nykj.wxisalipaygw.entity.alipay.UserQuestion">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="unit_id" property="unit_id" jdbcType="VARCHAR"/>
        <result column="user_question" property="user_question" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
        <result column="start_time" property="start_time" jdbcType="VARCHAR"/>
        <result column="end_time" property="end_time" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 存储用户问题 -->
    <insert id="insertUserQuestion" parameterType="com.nykj.wxisalipaygw.entity.alipay.UserQuestion" >
        INSERT INTO weixin_user_question ( unit_id, user_question, create_time)
        VALUES(#{unit_id},#{user_question},#{create_time});
    </insert>

    <!-- 获取自动回复列表(by unit_id) -->
    <select id="getAutoReplyListByUnitId" parameterType="java.lang.String" resultType="com.nykj.wxisalipaygw.entity.alipay.AutoReply">
        SELECT
          trigger_word,
          trigger_type,
          reply_content
        FROM weixin_auto_reply
        WHERE unit_id=#{unit_id} AND trigger_type IN (1,2,3) AND is_active=1
        ORDER BY trigger_type DESC
    </select>

    <!-- 获取自动回复 -->
    <select id="getAutoReply" parameterType="com.nykj.wxisalipaygw.entity.alipay.AutoReply" resultType="com.nykj.wxisalipaygw.entity.alipay.AutoReply">
        SELECT
          trigger_word,
          trigger_type,
          reply_content
        FROM weixin_auto_reply
        WHERE unit_id=#{unit_id} AND trigger_type=#{trigger_type} AND is_active=1
        ORDER BY id DESC
    </select>

</mapper>